:root {
    --grid-rows: 1;
  --grid-cols: 1;
  --grid-dim: 80vw;
  --border-color: #ddd;
  --font-size: 2em;
  --font-family: Sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  width: var(--grid-dim);
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

button {
  font-size: var(--font-size);
}

.dimDisplay {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.grid-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--border-color);
}

#grid {
  display: grid;
  grid-gap: 0px;
  width: var(--grid-dim);
  height: var(--grid-dim);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  height: calc(var(--grid-rows/--grid-dim) * 1px);
  width: calc(var(--grid-cols/--grid-dim) * 1px);;
  border: 1px solid var(--border-color);
  transition: background-color 1000ms;
}