:root {
    --grid-rows: 1;
  --grid-cols: 1;
  --container-dim: 960px;
}

#container {
  display: grid;
  grid-gap: 0px;
  width: var(--container-dim);
  height: var(--container-dim);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  /* padding: 1em; */
  height: calc(var(--grid-rows/--container-dim) * 1px);
  width: calc(var(--grid-cols/--container-dim) * 1px);;
  border: 1px solid #ddd;
  text-align: center;
}

.grid-item:hover {
    background-color: black;
}